@use "app/styles/utils/typography";



.GameList_Compact {
  // Layout

  // RWD
  &[to-xs] {
    .GameList_Compact-Table {
      display: block;

      thead, tbody {
        display: block;
      }
    }
    .GameList_Compact-Row {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 10px 10px 45px;
      position: relative;
    }
    .GameList_Compact-Cell {
      display: block;
      padding: 0;

      // Variants
      &._check {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &._name {
        width: 100%;
        margin-bottom: 5px;
      }

      &._desc {
        width: 100%;
        margin-bottom: 5px;
      }

      &._lang {
        margin-right: 1em;
      }

      &._size {
        margin-right: 1em;
      }

      &._battery {
      }
    }
  }

  &[from-s] {
    .GameList_Compact-Col {
      &._check {
        width: 30px;
      }
      &._lang {
        width: 30px;
      }
      &._size {
        width: 80px;
      }
      &._battery {
        width: 30px;
      }
    }

    .GameList_Compact-Cell {
      // Layout
      padding: 5px;
      vertical-align: middle;

      // Variants
      &._check {
        text-align: center;
      }
      &._name {
        padding-right: 1em;
      }
      &._desc {
        padding-right: 1em;
      }
      &._size {
        text-align: center;
      }
      &._battery {
        text-align: center;
      }
      &._lang {
        text-align: center;
      }
    }
  }

  &[from-s][to-m] {
    .GameList_Compact-Col._desc, .GameList_Compact-Cell._desc {
      display: none;
    }
  }

  &[from-l] {
    .GameList_Compact-Cell._name .GameList_Compact-Desc {
      display: none;
    }
  }
}



.GameList_Compact-Table {
  // Layout
  width: 100%;
  table-layout: fixed;
}



.GameList_Compact-Row {
  // Looks
  &._odd {
    background: white;
  }
  &._even {
    background: lightgray;
  }
}





.GameList_Compact-Name {
}



.GameList_Compact-Desc {
  font-size: 0.8em;
}



.GameList_Compact-Size {
  // Text
  font-size: 0.8em;
}
