@use "app/styles/utils/typography";

$row-height: 50px;
$thumbnail-factor: 256/192;
$padding: 10px;
$thumbnail-height: $row-height * 2 - $padding;
$thumbnail-width: $thumbnail-height * $thumbnail-factor;
$thumbnail-offset: ($thumbnail-height - $row-height) / 2;



.GameList_Thumbs {
  // Layout

  // RWD
  &[to-s] {
    .GameList_Thumbs-Table {
      display: block;

      thead, tbody {
        display: block;
      }
    }
    .GameList_Thumbs-Row {
      display: block;
      padding: 10px 10px 10px 45px;
      position: relative;
    }

    .GameList_Thumbs-Cell {
      display: block;
      padding: 0;

      // Variants
      &._check {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &._name {
        width: 100%;
        margin-bottom: 5px;
      }

      &._props {
        display: flex;

        > *:not(:last-child) {
          margin-right: 1em;
        }
      }
    }
  }

  &[at-s] {
    .GameList_Thumbs-Row:after {
      content: "";
      clear: both;
      display: table;
    }

    .GameList_Thumbs-Cell {
      &._thumb {
        float: left;
        margin-right: 1em;
      }
    }
  }

  &[from-m] {
    padding: $thumbnail-offset 0;

    .GameList_Thumbs-Table {
      // Layout
      width: 100%;
      table-layout: fixed;

      .GameList_Thumbs-Col {
        &._check {
          width: 45px;
        }
        &._thumb {
          width: $thumbnail-width * 2 + $thumbnail-offset;
        }
        &._props {
          width: 100px;
        }
      }
    }

    .GameList_Thumbs-Row {
      // Layout
        height: $row-height;
      // Looks
      &._odd {
        &:hover {
          .GameList_Thumbs-Thumb {
            outline: 3px solid white;
          }
        }
      }
      &._even {
        &:hover {
          .GameList_Thumbs-Thumb {
            outline: 3px solid lightgray;
          }
        }
      }
    }

    .GameList_Thumbs-Cell {
      // Layout
      padding: 0;
      vertical-align: middle;

      // Variants
      &._check {
        text-align: center;
      }

      &._thumb {
        .GameList_Thumbs-Thumb {
          display: block;
          margin-top: - $thumbnail-offset;
          margin-bottom: - $thumbnail-offset;
        }
      }

      &._props {
      }
    }

    .GameList_Thumbs-Row._odd .GameList_Thumbs-Cell._thumb {
      padding-left: $thumbnail-width + $thumbnail-offset / 2;
    }

    .GameList_Thumbs-Row._even .GameList_Thumbs-Cell._thumb {
      padding-right: $thumbnail-width + $thumbnail-offset / 2;
    }

    .GameList_Thumbs-Name {
      // Text
      @include typography.trim;
    }

    .GameList_Thumbs-Desc {
      // Text
      @include typography.trim;
      font-size: 0.8em;
    }
  }
}





.GameList_Thumbs-Row {
  // Layout

  // Looks
  &._odd {
    background: white;
  }
  &._even {
    background: lightgray;
  }
}



.GameList_Thumbs-Thumb {
  // Layout
  width: $thumbnail-width;
  height: $thumbnail-height;
}



.GameList_Thumbs-Name {
}



.GameList_Thumbs-Desc {
  // Text
  font-size: 0.8em;
}
