@use "app/styles/config/dimensions";



// Paragraph styles

@mixin font-paragraph {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 300;
  color: var(--text-primary);
}

@mixin layout-paragraph {
  &:not(:last-child) {
    margin-bottom: 20px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 15px;
    // }
  }
}

@mixin font-paragraph-small {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 300;
  color: var(--text-primary);
}

@mixin layout-paragraph-small {
  &:not(:last-child) {
    margin-bottom: 20px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 15px;
    // }
  }
}

@mixin font-paragraph-large {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 300;
  color: var(--text-primary);
}

@mixin layout-paragraph-large {
  &:not(:last-child) {
    margin-bottom: 26px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 26px;
    // }
  }
}

@mixin font-paragraph-extra-large {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 300;
  color: var(--text-primary);

  // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
  //   font-size: 40px;
  //   line-height: 1.2;
  //   letter-spacing: 0;
  // }
}

@mixin layout-paragraph-extra-large {
  &:not(:last-child) {
    margin-bottom: 26px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 26px;
    // }
  }
}



// Heading styles

@mixin font-heading-xd1 {
  font-size: 46px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 500;
  color: var(--text-heading);

  // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
  //   font-size: 104px;
  //   line-height: 1.2;
  //   letter-spacing: 0;
  // }
}

@mixin layout-heading-xd1 {
  &:not(:last-child) {
    margin-bottom: 30px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 30px;
    // }
  }
}

@mixin font-heading-xd2 {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 500;
  color: var(--text-heading);

  // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
  //   font-size: 44px;
  //   line-height: 1.2;
  //   letter-spacing: 0;
  // }
}

@mixin layout-heading-xd2 {
  &:not(:last-child) {
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--text-heading);

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 20px;
    // }
  }
}

@mixin font-heading-xd3 {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--text-heading);

  // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
  //   font-size: 34px;
  //   line-height: 1.2;
  //   letter-spacing: 0;
  // }
}

@mixin layout-heading-xd3 {
  &:not(:last-child) {
    margin-bottom: 20px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 20px;
    // }
  }
}

@mixin font-heading-xd4 {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 500;
  color: var(--text-heading);

  // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
  //   font-size: 22px;
  //   line-height: 1.2;
  //   letter-spacing: 0;
  // }
}

@mixin layout-heading-xd4 {
  &:not(:last-child) {
    margin-bottom: 20px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 20px;
    // }
  }
}

@mixin font-heading-xd5 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 500;
  color: var(--text-heading);
}

@mixin layout-heading-xd5 {
  &:not(:last-child) {
    margin-bottom: 20px;

    // @media (min-width: #{dimensions.$typography-breakpoint-max + 1px}) {
    //   margin-bottom: 20px;
    // }
  }
}

@mixin font-heading-xd6 {
  @include font-heading-xd5;
}

@mixin layout-heading-xd6 {
  @include layout-heading-xd5;
}



// Link styles

@mixin font-link {
  text-decoration: underline;

  &, &:active, &:visited {
    color: var(--link-normal);
  }

  &:hover {
    color: var(--link-hover);
  }

  &.active {
    font-weight: 600;
    cursor: default;
    text-decoration: none;
  }
}



// Formatting
@mixin trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
