@use "app/styles/utils/layout";
@use "app/styles/utils/typography";



.Page-Application {
  // Content layout, RWD
  &[from-l] {
    $sidebar-width: 200px;

    position: relative;

    .Page-Application-Header {
      position: fixed;
      top: 0;
      left: 0;
      width: $sidebar-width;
      height: 100vh;
    }

    .Page-Application-Content {
      margin-left: $sidebar-width;
    }
  }
}



.Page-Application-Header {
  // Layout
  padding: 1rem;

  // Content layout
  .Page-Application-Header-Nav {
    margin-top: 2em;
  }
}



.Page-Application-Header-Logo {
  // Layout
  text-align: center;

  // Content layout
  .Page-Application-Header-Slogan {
    margin-top: 2em;
  }
}



.Page-Application-Header-Title {
  // Text
  @include typography.font-heading-xd2;
}



.Page-Application-Header-Nav {
  // Content layout, RWD

  &[to-xxs] {
    .Page-Application-Header-Nav-Link {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &[from-xs] {
    display: flex;
    align-items: center;
    justify-content: center;

    .Page-Application-Header-Nav-Link {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
