@use "app/styles/utils/layout";



.Page-Games {
  // RWD
  &[to-m] {
    .Page-Games-Filters {
      margin-bottom: 1em;
    }
  }

  &[from-l] {
    $sidebar-width: 200px;

    position: relative;

    .Page-Games-Filters {
      position: sticky;
      top: 0;
      left: 0;
      width: $sidebar-width;
      height: 100vh;
      margin-bottom: -100vh;
    }

    .Page-Games-Content {
      margin-left: $sidebar-width;
    }
  }
}



.Page-Games-Filters {
  // Layout
  padding: 10px;
}



.Page-Games-Filter._mode {
  // RWD
  &[to-xs] {
    .Page-Games-Filter-Filter-Item {
      display: block;
    }
  }

  &[from-s] {
    display: flex;

    .Page-Games-Filter-Label {
      margin-right: 1em;
    }
  }
}



.Page-Games-Filter-Label {
}




.Page-Games-GameGroup {
  // Variants
  &._only {
    padding: 5px;
  }
  &._multi {
    padding: 2px;
  }
}



.Page-Games-GameGroup-Inner {
  // Layout
  border: 1px solid black;
  padding: 2px;

  // Content layout
  .Page-Games-Game {
    &:not(:last-child) {
      padding-bottom: 2px;
    }
  }
}


.Page-Games-Game-Attr._screenshot {
  // Layout
  $factor: 1/4;
  width: 256px * $factor;
  height: 192px * $factor;
}
